<h1>ELAINE HEARN</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="home" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/work">Work</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</ul>