<div class="container">
    <div class="row">
        <div class="col-md-6 profile-img-here">
            <img class="profile-img" src="/images/profile1.jpg">
        </div>
        <div class="col-md-6">
            <h3>A little about me</h3>
            <p>
                I was raised in Philadelphia and have lived in Idaho, Utah, Los Angeles, and now live in Sacramento
                with my 5-year-old son.
                During the day, I work from home as an affiliate marketing specialist for a comparison shopping engine
                website. At night, I tackle motherhood and try not to step on rogue Legos (unsuccessfully.)
            </p>
            <p>
                In my spare time, you can usually find me spending time with my family. I love reading! One year I read
                87 books - not including
                picture books! I also enjoy lifting, riding my bike, EDM, dancing, Netflix, and knitting and
                crocheting.
                I try to live a sustainable lifestyle by bringing my own containers and produce bags to the grocery
                store
                and limiting the purchase of packaged goods.
            </p>
        </div>
    </div>
</div>