<div class="container">
    <div class="row">
        <div style="text-align: center" class="col-md-12">
            <h3 class="landing-title">Hi, I'm Elaine, a full-stack web developer based in Sacramento,
                California.</h3>
            <p class="landing-p">
                I work in HTML, CSS, Bootstrap, JavaScript, jQuery, C#, SQL, Ajax, Node, and Express.
                <br>
                I've also worked in the
                affiliate marketing industry for 8 years.
            </p>
            <img class="landing-img" src="images/landingPic.jpg">
            <blockquote class="blockquote text-right">
                <p class="mb-0">"She seems to know what she's doing."</p>
                <footer class="blockquote-footer">That one guy in the coffee shop
                </footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0">"She. Has. Got it."</p>
                <footer class="blockquote-footer">That one TA in class
                </footer>
            </blockquote>
        </div>
    </div>
</div>