<div class="container">
    <h3>Some projects I've worked on</h3>
    <p>These class projects showcase my ability to grasp front end concepts such as HTML, CSS, JavaScript, jQuery,
        and timers.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/wordguessgame.png" width="100%">
            </div>
            <h5>Word Guess Game</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/Word-Guess-Game/tree/master">Github</a>
                <a target="_blank" href="https://luflicesh.github.io/Word-Guess-Game/">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/starwarsrpg.JPG" width="100%">
            </div>
            <h5>Role Playing Game</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/unit-4-game">Github</a>
                <a target="_blank" href="https://luflicesh.github.io/unit-4-game">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/triviagame.JPG" width="100%">
            </div>
            <h5>Trivia Game</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/TriviaGame">Github</a>
                <a target="_blank" href="https://luflicesh.github.io/TriviaGame">Deploy</a>
            </div>
        </div>
    </div>
    <hr>
    <p>Utilizing API's, databases (Firebase, JawsDB, mySQL), and Node.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/giftastic.JPG" width="100%">
            </div>
            <h5>Gif Generator</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/GifTastic">Github</a>
                <a target="_blank" href="https://luflicesh.github.io/GifTastic/">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/trainscheduler.JPG" width="100%">
            </div>
            <h5>Train Scheduler</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/Train-Scheduler">Github</a>
                <a target="_blank" href="https://luflicesh.github.io/Train-Scheduler">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/liri.JPG" width="100%">
            </div>
            <h5>LIRI Bot</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/liri-node-app">Github</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/bamazon.JPG" width="100%">
            </div>
            <h5>SQL Store Front</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/mysql-product-database">Github</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/burger.JPG" width="100%">
            </div>
            <h5>Eat-Da-Burger</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/Eat-Da-Burger">Github</a>
                <a target="_blank" href="https://quiet-fortress-38648.herokuapp.com/">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/friend.JPG" width="100%">
            </div>
            <h5>FriendFinder</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/FriendFinder">Github</a>
                <a target="_blank" href="https://sheltered-tundra-17155.herokuapp.com/">Deploy</a>
            </div>
        </div>
    </div>
    <hr>
    <p>Collaborative projects using HTML, CSS, JavaScript, jQuery, Node, Express, Handlebars, Sequelize, and Socket.io.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/project1.JPG" width="100%">
            </div>
            <h5>One Stop Code Shop</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/EneaAntonicelli/Project1">Github</a>
                <a target="_blank" href="https://EneaAntonicelli.github.io/Project1">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="work-img-div">
                <img class="work-img" src="/images/project2.gif" width="100%">
            </div>
            <h5>One Stop Code Shop Forum & Chat</h5>
            <div class="work-links">
                <a target="_blank" href="https://github.com/luflicesh/OneStopCodeShop2-ElectricBoogaloo">Github</a>
                <a target="_blank" href="https://tranquil-spire-77467.herokuapp.com/">Deploy</a>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>